* {
  padding: 0;
  box-sizing: border-box;
}

/* Footer */
.footer {
  height: 160px;
  margin-top: auto;
  background-color: #faebf8;
}
.contents {
  text-align: center;
  font-size: 21px;
  color: #626262;
}
.title {
  font-weight: 600;
  font-size: 20px;
}
.Up {
  position: absolute;
  right: 10%;
  background-color: #c5c1c1;
  border: none;
  color: #000;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
}
.Up:hover {
  background-color: rgb(181, 180, 181);
}
.p_size {
  margin: 10px;
}

/* Header */
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 25px;
}
.menu {
  width: auto;
  overflow: hidden;
}
.menu > li {
  width: 25%; /*25*4=100%*/
  height: 85px;
  float: left;
  text-align: center;
  line-height: 75px;
}
.menu a {
  color: #000000;
}
.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
  z-index: 51;
}
.menu > li:hover .submenu {
  height: auto; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;
  z-index: 50;
  position: absolute;
  background-color: #faebf8;
  transition-duration: 0.2s;
  width: 25%; /*25*4= 100%*/
  float: left;
  text-align: center;
  line-height: 50px;
}
.Header {
  margin-top: 45px;
  background-color: #faebf8;
}
a:hover {
  color: #8e8e8e;
}
.header_a {
  color: #000;
}
.header_a:hover {
  color: #000;
}

/* Myslide */
.SwiperSlide {
  z-index: -30;
  position: fixed;
}

/* About */
.btn:hover {
  background-color: #faebf8;
}
.tr {
  background-color: #c5c1c1;
  font-size: 30px;
}
.tbody {
  font-size: 24px;
  text-align: left;
}
.td {
  padding: 10px;
}

/* Detail */
.container {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.note1 {
  padding: 15em;
  margin: 2em 2em;
  background-image: url("https://avatars.githubusercontent.com/u/50562603?s=400&u=736bea2b8f65dc8862d0ea8e753fb2efcc8df68d&v=4");
  background-size: cover;
  width: 450px;
  height: 590px;
}
.note2 {
  margin: 2em 10em;
  background-size: cover;
  width: 450px;
  height: 590px;
  color: #000;
  white-space: pre-wrap;
}
.Save {
  position: static;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  background-color: #c5c1c1;
  border: none;
  color: #000;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
}
.Save:hover {
  background-color: #faebf8;
}
@media screen and (min-width: 769px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }
  .note2 {
    margin-left: 2em;
  }
}

/* Like, Dislike, Hobby */
.Slider {
  display: block;
  margin: auto;
  width: 20% !important;
  text-align: center;
}
.slick-dots {
  bottom: 50px;
  margin-top: 20px;
}
